/* /////////////// In all ///////////*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
  }
  
  
  body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: rgb(214, 210, 202);
    
      /* background-image: url("./image(1).png"); */
  }
  
  .App{
    background-image: url("./image(1).png");
   height: 100%;
    width: 100%;
    background-size: cover;
  
  }
  
  .App2{
    background-image: url("./image(1).png");
   height: 100vh;
    width: 100%;
    background-size: cover;
  
  }
  
  
  
  .container {
    width: 600px;
    margin: auto;
  }
  
  .containerforseats {
    align-items: center;
    width: 600px;
    margin: auto;
  }
  
  .grid td {
    align-items: center;
    width: 40px;
    height: 35px;
    border: 2px solid rgb(0, 229, 255);
    text-align: center;
    float: left;
    margin: 5px;
    color: #fff;
  }
  .welcome{
    height: 100vh;
    background-image: url(./image.jpg);
    background-size: cover;
    background-position: center;
    color: white;
  
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: large;
  }
  .welcometext{
    margin-top: 10%;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
  
  }
  .viewmatchbutton{
    width: 200px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.638);
    color: #004869;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    position: flex;
  }
  .viewmatchbutton:hover{
    color: white;
    background-color: #004869;
  }
  .mainbutton {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    font-weight: bold;
    padding: 10px 15px;
    color:rgb(80,140,196);
    border-radius: 10px;
    width: 80%;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  .mainbutton:hover {
    color: white;
    background-color: rgb(80,140,196);
  }
  
  .matchesviewing{
    background-color: rgb(237, 233, 226);
  }
  
  .grid td:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  
  .reserved {
    background: rgb(255, 0, 0);
    color: #fff;
    display: inline-block;
  }
  
  .selected {
    background: rgba(0, 255, 4, 0.602);
    color: #fff;
    display: inline-block;
  }
  
  .reserved::after {
    content: "R";
  }
  
  .selected::after {
    content: "S";
  }
  
  .available::after {
    content: "A";
  }
  
  .available {
    color: #333;
  }
  
  li {
    list-style: none;
  }
  
  .btnmargin {
    margin-top: 15px;
  }
  
  
  .cardbody {
    display: flex;
    justify-content: center;
  }
  
  #DivMatchCreationcontainer {
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    flex-wrap: nowrap;
  }
  
  .MatchCreationcontainer {
    width: 70%;
    padding: 15px;
    margin-top: 3%;
    /* margin-left: 36%; */
    text-align: center;
    background-color: rgba(252, 252, 252, 0.2);
    border: 1px solid rgba(252, 252, 252, 0.4);
    border-radius: 15px;
  
  }
  
  hr{
    width: 100%;
    border: 1px solid rgba(30, 1, 1, 0.4);
    position: relative;
    top: 50%;
  }
  
  .MatchCreationcontainer select {
    width: 45%;
    display: inline;
  
  }
  
  .MatchCreationcontainer label {
    font-weight: 700;
    color: rgb(80,140,196);
    font-size: large;
    text-align: left;
    width: 120px;
    display: inline-block;
  }
  
  .MatchCreationcontainer h1 {
    font-weight: bold;
    color: rgb(80,140,196);
    text-align: center;
    height: fit-content;
    font-size: 88px;
  }
  
  .MatchCreationcontainer input {
    width: 45%;
    display: inline;
    margin-left: 6px;
    text-align: center;
  }
  
  .MatchCreationcontainer div {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .MatchCreationcontainer button {
    width: 30%;
  }
  
  .stadiumtable {
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
  }
  
  .stdContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .stadiumtable table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .stadiumtable th,
  .stadiumtable td {
    text-align: left;
    padding: 8px;
    border: none;
  }
  
  .stadiumtable th {
    font-weight: bold;
    font-size: large;
    border-bottom: 2px solid #dbdeed;
  }
  
  .stadiumtable td {
    border-bottom: 1px solid #dbdeed;
  }
  
  .stadiumtable .cityandLocation {
    text-align: center;
  }
  
  .creditcardform {
    background-color: white;
    width: 70%;
    display: flex;
    justify-content: center;
    height: 40%;
    border-radius: 15px;
    padding: 3%;
  
  }
  
  .creditcardcontainer {
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }
  
  .roleanddeleteicon:hover,
  .roleanddeleteicon:active {
    /* Add your styles for hover and click here */
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
    color: red; /* Change color when hovered or clicked */
    /* Add any other styles you want for the hover and click states */
  }
  
  .editdatalabels
  {
    width:88px;
  }
  
  #DivRegcontainer {
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    flex-wrap: nowrap;
  }
  
  .Regcontainer {
    width: 70%;
    padding: 15px;
    margin-top: 3%;
    /* margin-left: 36%; */
    text-align: center;
    background-color: rgba(252, 252, 252, 0.2);
    border: 1px solid rgba(252, 252, 252, 0.4);
    border-radius: 15px;
  
  }
  
  .Regcontainer select {
    width: 45%;
    display: inline;
  
  }
  
  .Regcontainer label {
    font-weight: 700;
    color:white;
    font-size: large;
    text-align: left;
    width: 120px;
    display: inline-block;
  }
  
  .Regcontainer h1 {
    font-weight: bold;
    color:white;
    text-align: center;
    height: fit-content;
    font-size: 88px;
  }
  
  .Regcontainer input {
    width: 45%;
    display: inline;
    margin-left: 6px;
    text-align: center;
  }
  
  .Regcontainer div {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .Regcontainer button {
    width: 30%;
  }
  
  .regsettings
  {
    color:white;
  }
  
  #guestbb
  {
    width:100%;
  }
  
  
  @media only screen and (min-width: 1024px) {
  
    /*///////////////////css laptop///////////////////////////////*/
  
  
  
    /*//////////////For match creation/////////////////*/
  
  
  
  
    /*////////////////////////////////////////////////////////*/
  
    .containersbody {
      font-family: "Source Sans Pro", sans-serif;
      color: white;
      font-weight: 300;
      /* background-image: url("https://www.transparenttextures.com/patterns/escheresque.png"); */
      display: flex;
      justify-content: center;
    }
  
    .container {
      margin: 10% auto;
      padding: 10px;
      text-align: center;
      width: 30%;
      margin-left: 36%;
      text-align: center;
      background-color: rgba(252, 252, 252, 0.2);
      /* background-color: rgba(252, 252, 252, 0.15); zakria */
      border: 1px solid rgba(252, 252, 252, 0.4);
      border-radius: 15px;
  
    }
  
    .containerforseats {
      margin: 10% auto;
      text-align: center;
      width: 50%;
      text-align: center;
      align-items: center;
      background-color: rgba(252, 252, 252, 0.2);
      /* background-color: rgba(252, 252, 252, 0.15); zakria */
      border: 1px solid rgba(252, 252, 252, 0.4);
      border-radius: 15px;
  
    }
  
    .regcontainer {
      width: 30%;
      padding: 15px;
      margin-top: 3%;
      margin-left: 36%;
      text-align: center;
      background-color: rgba(252, 252, 252, 0.2);
      border: 1px solid rgba(252, 252, 252, 0.4);
      border-radius: 15px;
  
    }
  
    .container h1 {
      font-size: 40px;
      font-weight: bold;
    }
  
    .regcontainer h1 {
      font-size: 40px;
      font-weight: bold;
    }
  
  
  
    input {
      border: 1px solid rgba(252, 252, 252, 0.4);
      background-color: rgba(252, 252, 252, 0.93);
      width: 80%;
      border-radius: 10px;
      font-family: "Source Sans Pro", sans-serif;
      padding: 10px 15px;
      margin: 0 auto 10px auto;
      display: block;
      text-align: center;
      font-size: 18px;
      color: #004869;
      font-weight: 300;
    }
  
  
  
    .buybutton {
      margin-top: 10px;
      appearance: none;
      outline: 0;
      background-color: rgba(172, 160, 160, 0.449);
      border: 0;
      font-weight: bold;
      padding: 10px 15px;
      color: #004869;
      border-radius: 10px;
      width: 50%;
      font-size: 18px;
      cursor: pointer;
      margin-bottom: 15px;
    }
  
    .buybutton:hover {
      color: white;
      background-color: #004869;
    }
  
   
  
  
    .secondarybutton {
      appearance: none;
      width: 30%;
      margin: 0px 5%;
      outline: 0;
      border: 0;
      font-weight: bold;
      color: white;
      border-radius: 10px;
      width: 250px;
      font-size: 18px;
      text-align: center;
      text-decoration: underline;
      cursor: pointer;
    }
  
  
    a:link,
    a:visited {
      color: inherit;
      text-decoration: none;
    }
  
    .secondarybutton:hover {
      /* color:black; */
      color:  rgb(80,140,196);
      /* zakaria */
    }
  
    select {
      border: 1px solid rgba(252, 252, 252, 0.4);
      background-color: rgba(252, 252, 252, 0.93);
      width: 80%;
      border-radius: 10px;
      font-family: "Source Sans Pro", sans-serif;
      padding: 10px 15px;
      margin: 0 auto 10px auto;
      display: block;
      text-align: center;
      font-size: 18px;
      color: #004869;
      font-weight: 300;
    }
  
    #login {
      margin-left: 13%;
    }
  }
  
  /***************************************************************************************************/
  /*Home Page*/
  header {
    background-color: #004869;
    background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
    padding: 5px 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  
  
  header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
  }
  
  
  .heading {
    text-align: center;
    font-size: 2em;
    color: #2d3436;
    margin: 20px 0 30px;
  }
  
  .topleft {
  
    display: flex;
    width: 50%;
    text-align: left;
    margin-left: 15px;
  
  
  }
  
  .topright {
    display: flex;
    width: 50%;
    text-align: left;
    margin-right: 10px;
  
  }
  
  .card {
    border-radius: 5px;
    position: relative;
    padding: 25px;
    background-color: white;
    margin: 5%;
    height: 200px;
    width: 60%;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    /* offsetX offsetY blurRadius color */
  }
  
  .top {
    color: black;
    border-radius: 5px;
    height: 48px;
    width: 100%;
    background-color: rgb(80,140,196);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }
  
  .nameleft {
    font-size: 18px;
    flex: 1;
    text-align: left;
    margin-top: 18px;
    padding-left: 5%;
    font-weight: bold;
  
  }
  
  .nameright {
    font-size: 18px;
    flex: 1;
    text-align: right;
    margin-top: 18px;
    padding-right: 5%;
    padding-left: 30%;
    font-weight: bold;
  
  }
  
  .middle {
    margin-top: 60px;
    color: black;
    font-size: 15px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 150px;
  }
  
  .leftmiddle {
    display: flex;
    width: 30%;
    align-content: flex-start;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 1%;
  
  }
  
  .rightmiddle {
  
    display: flex;
    width: 30%;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap
  
  }
  
  .rightmiddle2 {
  
    display: flex;
    width: 30%;
    justify-content: center;
    align-content:flex-start;
    flex-wrap: wrap
  
  }
  
  #bb
  {
    width:100%;
  }
  
  .checkseats
  {
    width:90%;
    margin-top: 0;
    height:35%;
    font-size: medium;
    padding: 2%;
  
  }
  
  .middlemiddle {
    display: flex;
    width: 30%;
    align-content: flex-start;
    flex-wrap: wrap;
  }
  
  .card img {
    margin: 10px 20px 0 0;
  }
  
  .circle-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  
  
  
  .topleft h3 {
    padding-left: 4%;
    width: 50%;
  }
  
  .rightmiddle h3 {
    position: relative;
    width: 100%;
  
  }
  
  #time,
  #date,
  .info {
    width: 100%;
    height: 20%;
  
  }
  
  #time {
    margin-right: 15%;
  }
  
  .refrees {
    font-weight: 700;
  }
  
  
  
  /*//////////////////////////////////////////////////////////////////////*/
  /*//////////////////////////////////////////////////////////////////////*/
  
  @media only screen and (max-width: 1024px) {
    /*///////////////////css nos el laptop///////////////////////////////*/
  
    .containersbody {
      font-family: "Source Sans Pro", sans-serif;
      color: white;
      font-weight: 300;
      background-color: #004869;
      /* background-image: url("https://www.transparenttextures.com/patterns/escheresque.png"); */
      width: 100%;
      height: 100%;
    }
  
    .container {
      margin: 10% auto;
      padding: 10px;
      text-align: center;
      width: 30%;
      margin-left: 36%;
      text-align: center;
      background-color: rgba(252, 252, 252, 0.2);
      border: 1px solid rgba(252, 252, 252, 0.4);
      border-radius: 15px;
  
    }
  
    .containerforseats {
      align-items: center;
      text-align: center;
      width: 50%;
      margin-left: 36%;
      background-color: rgba(252, 252, 252, 0.2);
      border: 1px solid rgba(252, 252, 252, 0.4);
      border-radius: 15px;
  
    }
  
    .regcontainer {
      width: 30%;
      padding: 15px;
      margin-top: 3%;
      margin-left: 36%;
      text-align: center;
      background-color: rgba(252, 252, 252, 0.2);
      border: 1px solid rgba(252, 252, 252, 0.4);
      border-radius: 15px;
  
    }
  
    .container h1 {
      font-size: 40px;
      font-weight: bold;
    }
  
    .regcontainer h1 {
      font-size: 40px;
      font-weight: bold;
    }
  
  
  
    input {
      border: 1px solid rgba(252, 252, 252, 0.4);
      background-color: rgba(252, 252, 252, 0.93);
      width: 80%;
      border-radius: 10px;
      font-family: "Source Sans Pro", sans-serif;
      padding: 10px 15px;
      margin: 0 auto 10px auto;
      display: block;
      text-align: center;
      font-size: 18px;
      color: #004869;
      font-weight: 300;
    }
  
    .buybutton {
      appearance: none;
      outline: 0;
      background-color: rgba(172, 160, 160, 0.449);
      border: 0;
      font-weight: bold;
      padding: 10px 15px;
      color: #004869;
      border-radius: 10px;
      width: 50%;
      font-size: 15px;
      cursor: pointer;
      margin-bottom: 50px;
    }
  
    .buybutton:hover {
      color: white;
      background-color: #004869;
    }
  
  
    .mainbutton {
      appearance: none;
      outline: 0;
      background-color: white;
      border: 0;
      font-weight: bold;
      padding: 10px 15px;
      color: rgb(80,140,196);
      border-radius: 10px;
      width: 80%;
      font-size: 18px;
      cursor: pointer;
      margin-bottom: 15px;
    }
  
    .mainbutton:hover {
      color: white;
      background-color:rgb(80,140,196);
    }
  
    .secondarybutton {
      appearance: none;
      width: 30%;
      margin: 0px 5%;
      outline: 0;
      border: 0;
      font-weight: bold;
      color: white;
      border-radius: 10px;
      width: 250px;
      font-size: 18px;
      text-align: center;
      text-decoration: underline;
      cursor: pointer;
    }
  
    .secondarybutton:hover {
      /* color:black; */
      color: #004869;
    }
  
    select {
      border: 1px solid rgba(252, 252, 252, 0.4);
      background-color: rgba(252, 252, 252, 0.93);
      width: 80%;
      border-radius: 10px;
      font-family: "Source Sans Pro", sans-serif;
      padding: 10px 15px;
      margin: 0 auto 10px auto;
      display: block;
      text-align: center;
      font-size: 18px;
      color: #004869;
      font-weight: 300;
    }
  
    #login {
      margin-left: 13%;
    }
  
  
  
  
    .heading {
      text-align: center;
      font-size: 2em;
      color: #2d3436;
      margin: 20px 0 30px;
    }
  
    .topleft {
      /* padding-left: 2%;
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex; */
      display: flex;
      width: 50%;
      text-align: left;
      margin-left: 10px;
    }
  
    .topright {
      /* border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    padding-right: 1.5%;
    position: relative;
    top: 0;
    right: 0;
    display: flex; */
      display: flex;
      width: 50%;
      text-align: left;
      margin-right: 5px;
  
  
    }
    .reserved {
      color: red;
    }
    
    .test {
      width: 100%;
    }
  
    .card {
      border-radius: 5px;
      position: relative;
      padding: 25px;
      background-color: white;
      margin: 5%;
      height: 200px;
      width: 70%;
      text-align: center;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
      /* offsetX offsetY blurRadius color */
    }
  
    .top {
      color: black;
      border-radius: 5px;
      height: 48px;
      width: 100%;
      background-color: rgb(80,140,196);
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
    }
  
    .nameleft {
      font-size: 14px;
      flex: 1;
      text-align: left;
      margin-top: 18px;
      font-weight: bold;
  
    }
  
    .nameright {
      font-size: 14px;
      flex: 1;
      text-align: right;
      margin-top: 18px;
      padding-right: 5%;
      padding-left: 20%;
      font-weight: bold;
  
    }
  
    .middle {
      margin-top: 50px;
      color: black;
      font-size: 12px;
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      height: 150px;
    }
  
    .leftmiddle {
      /* position: relative;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #2d3436;
    font-size: 18px;
    text-align: center;
    margin-left: 30%;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 10%;
    padding-left: 0px;
    display: flex; */
      display: flex;
      width: 32%;
      align-content: flex-start;
      flex-wrap: wrap;
      text-align: left;
      margin-top: 1%;
  
    }
  
    .rightmiddle {
      /* position: relative;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #2d3436;
    font-size: 18px;
    text-align: center;
    right: 0;
    margin-right: 30%;
    margin-bottom: 0px;
    margin-top: 10%;
    display: flex; */
      display: flow;
      width: 32%;
      text-align: center;
  
    }
  
    .middlemiddle {
      display: flex;
      width: 32%;
      align-content: flex-start;
      flex-wrap: wrap;
    }
  
    .card img {
      margin: 10px 20px 0 0;
    }
  
    .circle-img {
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
  
  
  
    .topleft h3 {
      padding-left: 4%;
      width: 50%;
    }
  
    .rightmiddle h3 {
      height: 20%;
      width: 100%;
  
    }
  
    #time,
    #date,
    .info {
      width: 100%;
      height: 20%;
  
    }
  
    #time {
      margin-right: 14%;
    }
  
    .refrees {
      font-weight: 700;
    }
  
  }